extends ../_shared/page-layout
include ../_mixins/forms

block page-body

	pre= JSON.stringify(locals.messages)

	div.portlet
		div.portlet-title
			div.caption
				span.caption-subject.text-uppercase= _.title

		div.portlet-body

			form(action = '/auth/login', method = 'post')

				+form_fieldset
					+form_label('username', 'Email')
					+form_textInput('username', locals.messages.data.username || '', {
						'data-validation': 'required email'
					})

				+form_fieldset
					+form_label('password', 'Password')
					+form_passwordInput('password')

				+form_fieldset
					+form_button('Login', 'key', {'class': 'btn-success'})
