extends ../_shared/page-layout
include ../_mixins/forms
include ../_mixins/plugins

block page-head

	link(rel = 'stylesheet', href = '/devices/css/devices.css')

block page-body

	- device = device || {}

	div.portlet
		div.portlet-title
			div.caption
				span.caption-subject.text-uppercase= _.title

		div.portlet-body

			if status != null
				div(class = 'alert alert-' + (status == 'error' ? 'danger' : 'success'))
					case status
						when 'error'
							p.text-danger Something went wrong!

			form(action = '/devices/edit/' + (device._id || 0), method = 'post')

				+formFieldset
					+formLabel('hostname', 'Hostname')
					+formTextInput(
					'hostname',
					device.hostname,
					{
						'data-validation': 'required alphanumeric',
						'data-validation-allowing': '_-'
					}
					)

				+formFieldset
					+formLabel('ip_address', 'IP Address')
					+formTextInput(
					'ip_address',
					device.ip_address,
					{
						'data-validation': 'custom',
						'data-validation-regexp': '^([0-9]{1,3})\.([0-9]{1,3})\.([0-9]{1,3})\.([0-9]{1,3})$'
					})

				+formFieldset
					+formLabel('type', 'Type')
					+formButtonGroup(
					'type',
					deviceTypes,
					device.type,
					{
						'data-validation': 'required'
					}
					)

				+formFieldset
					+formLabel('location', 'Location')
					+formButtonGroup(
					'location',
					[
						{value: 'internal', label: 'Internal', fa_icon: 'sign-in'},
						{value: 'external', label: 'External', fa_icon: 'sign-out'}
					],
					device.location,
					{
						'data-validation': 'required'
					}
					)

				+formFieldset
					+formButton('Save', 'save', {'class': 'btn-primary'})

block scripts
	+plugin_validation