extends ../_shared/page-layout

block page-head
	link(rel='stylesheet', href='/devices/css/devices.css')

block page-body

	div.portlet
		div.portlet-title
			div.caption
				span.caption-subject.text-uppercase= _.title

		div.portlet-body

			form(action = '#', method = 'post')

				fieldset.form-group
					label(for = 'hostname') Hostname
					input#hostname.form-control(type = 'text', name = 'hostname', value = device ? device.hostname : '')

				fieldset.form-group
					label(for = 'ip_address') IP Address
					input#ip_address.form-control(type = 'text', name = 'ip_address', value = device ? device.ip_address : '')

				fieldset.form-group
					label.control-label Type
					div.btn-group.btn-group-justified(role = 'group', data-toggle = 'buttons')
						label.btn.btn-default
							input(type = 'radio', name = 'type', value = 'server')
							i.fa.fa-server.text-muted
							| &nbsp;&nbsp;&nbsp;&nbsp;Server
						label.btn.btn-default
							input(type = 'radio', name = 'type', value = 'desktop')
							i.fa.fa-desktop.text-muted
							| &nbsp;&nbsp;&nbsp;&nbsp;Desktop
						label.btn.btn-default
							input(type = 'radio', name = 'type', value = 'laptop')
							i.fa.fa-laptop.text-muted
							| &nbsp;&nbsp;&nbsp;&nbsp;Laptop
						label.btn.btn-default
							input(type = 'radio', name = 'type', value = 'mobile')
							i.fa.fa-mobile.text-muted
							| &nbsp;&nbsp;&nbsp;&nbsp;Mobile

				fieldset.form-group
					label.control-label Location
					div.btn-group.btn-group-justified(role = 'group', data-toggle = 'buttons')
						label.btn.btn-default
							input(type = 'radio', name = 'location', value = 'internal')
							i.fa.fa-sign-in.text-muted
							| &nbsp;&nbsp;&nbsp;&nbsp;Internal
						label.btn.btn-default
							input(type = 'radio', name = 'location', value = 'external')
							i.fa.fa-sign-out.text-muted
							| &nbsp;&nbsp;&nbsp;&nbsp;External

				button.btn.btn-primary Save