extends ../_shared/page-layout
include ../_mixins/forms

block page-head

	link(rel = 'stylesheet', href = '/devices/css/devices.css')

block page-body

	div.portlet
		div.portlet-title
			div.caption
				span.caption-subject.text-uppercase= _.title

		div.portlet-body

			if status != null
				div(class = 'alert alert-' + (status == 'error' ? 'danger' : 'success'))
					case status
						when 'error'
							p.text-danger Something went wrong!
						when 'saved'
							p.text-success Your changes have been saved!
						when 'created'
							p.text-success The device <strong>#{device.hostname}</strong> was created!

			form(action = '/devices/edit/' + (device ? device._id : 0), method = 'post')

				+formTextInput('Hostname', 'hostname', device ? device.hostname : '')

				+formTextInput('IP Address', 'ip_address', device ? device.ip_address : '')

				+formButtonGroup(
					'Type', 'type',
					[
						{value: 'server', label: 'Server', fa_icon: 'server'},
						{value: 'desktop', label: 'Desktop', fa_icon: 'desktop'},
						{value: 'laptop', label: 'Laptop', fa_icon: 'laptop'},
						{value: 'mobile', label: 'Mobile', fa_icon: 'mobile'}
					],
					device ? device.type : ''
				)

				+formButtonGroup(
					'Location', 'location',
					[
						{value: 'internal', label: 'Internal', fa_icon: 'sign-in'},
						{value: 'external', label: 'External', fa_icon: 'sign-out'}
					],
					device ? device.location : ''
				)

				fieldset.form-group
					button.btn.btn-primary
						i.fa.fa-save
						| &nbsp;
						| Save
					| &nbsp;&nbsp;&nbsp;&nbsp;
					a.btn.btn-default#delete-button(href = 'javascript:void;')
						i.fa.fa-trash-o
						| &nbsp;
						| Delete

block scripts

	script(src = '/devices/js/edit.js')