extends ../_shared/page-layout

mixin device(d)
	div.device-row
		p: a(href = '/devices/edit/' + d._id)
			i(class = 'fa fa-lg fa-fw fa-' + d.type)
			| &nbsp;&nbsp;&nbsp;
			span= d.hostname

block page-head

	link(rel = 'stylesheet', href = '/devices/css/devices.css')

block page-body

	div.portlet
		div.portlet-title
			div.caption
				span.caption-subject.text-uppercase Devices
			div.actions
				a(href = '/devices/create', class = 'btn')
					i.fa.fa-plus
					| &nbsp;&nbsp;
					| Create Device

		div.portlet-body

			if status != null
				div(class = 'alert alert-' + (status == 'error' ? 'danger' : 'success'))
					case status
						when 'error'
							p.text-danger Something went wrong!
						when 'deleted'
							p.text-success The device was deleted!

			each d in devices
				+device(d)