extends ../_shared/page-layout

block page-body

	div.portlet
		div.portlet-title
			caption: span.caption-subject.text-uppercase Devices

		div.portlet-body

			each d in devices
				pre= d

			each h in hostnameEntries
				pre= h