extends ../_shared/page-layout.pug
include ../_mixins/plugins
include ../_mixins/forms

mixin device(d)
	div.device-row
		p.icon
			i(class = 'fa fa-lg fa-fw fa-' + deviceTypes[d.type].fa_icon)
		p.name
			= d.hostname
			br
			span= d.ip_address
		p.buttons.btn-group
			+form_buttonLink('Edit', 'edit', '/devices/edit/' + d.id, {
				'class': 'btn-warning'
			})
			+form_buttonLink('Delete', 'trash', '/devices/delete/' + d.id, {
				'class': 'btn-danger delete-button',
				'data-name': d.hostname,
				'data-id': d.id.toString()
			})

block page-head

	link(rel = 'stylesheet', href = '/_shared/css/device-list.css')

block page-body

	div.portlet
		div.portlet-title
			div.caption
				span.caption-subject.text-uppercase Devices
			div.actions
				a(href = '/devices/create', class = 'btn')
					i.fa.fa-plus
					| &nbsp;&nbsp;
					| Create Device

		div.portlet-body

			if devices.length == 0
				p.text-muted.text-center There are no registered devices!

			each d in devices
				+device(d)

block scripts
	+plugin_bootbox
	script(src = '/devices/js/delete.js')
