doctype html
html
	head
		if title == null
			title Titanic
		else
			title Titanic :: #{title}
		link(rel='stylesheet', href='/_shared/css/reset.css')
		link(rel='stylesheet', href='/_vendor/css/bootstrap.min.css')
		link(rel='stylesheet', href='/_vendor/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:700,900,300')
		block head

	body
		block body
		script(src='/_vendor/js/jquery-1.11.3.min.js')
		script(src='/_vendor/js/bootstrap.min.js')