doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/_shared/css/bootstrap.min.css')
        link(rel='stylesheet', href='/_shared/css/bootstrap-theme.min.css')
        block head

    body
        block body
        script(src='/_shared/js/jquery-1.11.3.min.js')
        script(src='/_shared/js/bootstrap.min.js')
