div.portlet
	div.portlet-title
		div.caption
			span.caption-subject.text-uppercase Navigation

	div.portlet-body
		ul.navigation
			li: a(href='/', class=(_.activePage == 'dashboard' ? 'active' : ''))
				i.fa.fa-fw.fa-tv
				span Dashboard

			li: a(href='/devices', class=(_.activePage == 'devices' ? 'active' : ''))
				i.fa.fa-fw.fa-server
				span Devices

			li: a(href='/ip-aliases', class=(_.activePage == 'ip-aliases' ? 'active' : ''))
				i.fa.fa-fw.fa-sitemap
				span IP Aliases

			li: a(href='/devices', class=(_.activePage == 'bash-shortcuts' ? 'active' : ''))
				i.fa.fa-fw.fa-terminal
				span Bash Shortcuts