extends root-layout

block head
	link(rel='stylesheet', href='/_shared/css/page-layout.css')
	block page-head

block body

	// TODO: Page header here

	div.container
		div.row
			div.col-md-4: include navigation
			div.col-md-8: block page-body