extends root-layout

block head
	link(rel = 'stylesheet', href = '/_shared/css/page-layout.css')
	block page-head

block body

	div#header
		h1!= _.title
		if (locals.user)
			p.auth Logged in as #{locals.user.email} (#[a(href = '/auth/logout') logout])

	div.container
		div.row
			div.col-md-4: include navigation
			div.col-md-8: block page-body
