extends ../_shared/root-layout.pug

block head
	link(rel='stylesheet', href='/dashboard/css/dashboard.css')

block body

	div#header
		h1 Titanic
		h2 Transparent Integration of Terminal Aliases,<br />Networked In-between Computers

	div.container

		div.row

			div.col-md-4: include ../_shared/navigation

			div.col-md-8: div.portlet
				div.portlet-title
					div.caption
						span.caption-subject.text-uppercase Dashboard

				div.portlet-body
					if (locals.user)
						p Logged in as #{locals.user.email}.
					else
						p.none You're not logged in!
