extends ../_shared/_root-layout

block head
	link(rel='stylesheet', href='/dashboard/css/dashboard.css')

block body
	div#header
		h1 Titanic
		h2 Transparent Integration of Terminal Aliases,<br />Networked In-between Computers