extends ../_shared/page-layout
include ../_mixins/forms
include ../_mixins/plugins

block page-head

	link(rel = 'stylesheet', href = '/hosts-file-aliases/css/manage.css')

block page-body

	div.portlet
		div.portlet-title
			div.caption
				span.caption-subject.text-uppercase= _.title

		div.portlet-body

			form(action = '/hosts-file-aliases/edit/' + device._id, method = 'post')


				+form_fieldset
					+form_button('Save', 'save', {'class': 'btn-primary'})