mixin formFieldset
	fieldset.form-group
		block

mixin formLabel(field, title)
	label(for = field, class = 'control-label')= title

mixin formTextInput(field, value, attrs)
	- attrs = attrs || {}
	input.form-control(type = 'text', id = field, name = field, value = value)&attributes(attrs)

mixin formButtonGroup(field, options, value, attrs)
	- attrs = attrs || {}
	div.btn-group.btn-group-justified(role = 'group', data-toggle = 'buttons')
		for o in options
			- active = value == o.value
			label(class = ('btn btn-default' + (active ? ' active' : '')))
				input(type = 'radio', name = field, value = o.value, checked = active)&attributes(attrs)
				i(class = 'fa text-muted fa-' + o.fa_icon)
				| &nbsp;&nbsp;&nbsp;&nbsp;
				= o.label

mixin formButton(label, fa_icon, attrs)
	- attrs = attrs || {}
	button.btn&attributes(attrs)
		i(class = 'fa fa-' + fa_icon)
		| &nbsp;&nbsp;
		=label

mixin formButtonLink(label, fa_icon, href, attrs)
	- attrs = attrs || {}
	a.btn(href = href)&attributes(attrs)
		i(class = 'fa fa-' + fa_icon)
		| &nbsp;&nbsp;
		=label