@import 'defaults';

.device-row {
	padding: 14px 10px;
	display: flex;
	align-items: center;

	p {
		margin: 0;
		padding: 0;
		font-size: 1.7em;
		line-height: 0.8em;
		font-weight: lighter;
		display: inline-block;

		span {
			font-size: 0.5em;
		}
	}

	p.icon {
		margin-right: 15px;
	}

	p.buttons {
		margin-left: auto;
	}
}

.device-row:hover {
	background-color: #fafafa;
}