@import 'defaults';

// fonts

h1, h2, h3, h4, h5, h6, p, li, input, textarea, label, span {
	font-family: $fontFamily, sans-serif !important;
	font-weight: lighter;
	color: $textColour;
}

.text-muted {
	color: $textMuted;
}

.text-very-muted {
	color: $textVeryMuted;
}