@import '../../_shared/css/defaults';

html, body, div, ul, ol {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, li, span {
	font-family: $fontFamily sans-serif !important;
	color: $textColour;
}