@import '../../_shared/css/defaults';

#header {
	width: 100%;
	background: #eeeeee url("/dashboard/images/header-bg.png") no-repeat bottom left;
	padding: 60px 0 70px;
	margin-bottom: 20px;

	h1, h2 {
		margin: 0;
		padding: 0;
		text-align: center;
		color: $textColour;
	}

	h1 {
		font-size: 7em;
		font-weight: bold;
	}

	h2 {
		font-size: 2.5em;
		font-weight: lighter;
	}
}

div.activity-stream {
	p.none, p.error {
		font-size: 1.5em;
		font-weight: lighter;
		font-style: italic;
		text-align: center;
	}

	p.none {
		color: $textMuted;
	}

	p.error {
		color: $textHighlight;
	}

	p {
		font-size: 1.2em;

		span.timestamp {
			color: $textMuted;
		}

		span.error {
			color: #ff0000;
		}
	}
}